* {
    padding: 0px;
    margin: 0px;
}
body {
    font: 16px Arial, Helvetica,sans-serif;
    letter-spacing: .1em;
    color: #000000;
}
#fondoDiv {
    margin: 1% 50%;
}
ul , ol {
    list-style: none;
}
.MenuDeSeleccion li a{
    background-color:rgba(0, 0, 0, 0.733) ;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
    width: auto;
}
.MenuDeSeleccion li a:hover{
    background-color: rgba(14, 31, 25, 0.5);
}
.MenuDeSeleccion > li {
    float: left;
}
.MenuDeSeleccion li ul{
    display: none;
    position: absolute;
}
.MenuDeSeleccion li:hover > ul {
    display: block;
}