* {
    padding: 0px;
    margin: 0px;
}
body {
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center;
    background-attachment: fixed;
    font: 16px Arial, Helvetica,sans-serif;
    color: #ffffff;
    background-image: url(https://cdn.pixabay.com/photo/2016/10/03/13/04/artificial-turf-1711556_960_720.jpg) ;
    word-spacing: .1em;
}
.MenuDeSeleccion {
    background-color: #3a73b8 ;
    padding: 0;
    margin: auto;
    width: 100%;
    list-style: none;
    margin-top: 1%;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.452);
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;
}
.MenuDeSeleccion li a{
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    display: block;
    
}
.MenuDeSeleccion li {
    display: inline-block;
    text-align: center;
}
.MenuDeSeleccion li a:hover {
    background: #ef8354;
}
h1, h2 {
    text-align: center;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
#DefDep {
    margin-top: 6rem;
    margin-left: 10%;
    margin-right: 10%;
    background: #4e7eb9e0;
    padding-top: 1em;
    padding-left: 3em;
    padding-bottom: 1em;
    padding-right: 3em;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.452);
    position: relative;
    max-width: 300px; 
    max-height: 200px;;
   
}
#Cursor {
    cursor: help;
}
a:link {
    color: aquamarine;
}
a:visited {
    color: aqua;
}
#img {
    padding: 2%;
    max-width: 1000px;
    max-height: 1000px;
    position:relative
}
#img2 {
    padding: 2%;
    max-width: 800px;
    max-height: 800px;
    position:relative
}